body {
    background-color: wheat;
    margin: 0;
}

main {
    text-align: center;
    position: relative;
}

/* button {
    width: auto;
    height: 50px;
    border-radius: 3px;
    background-color: yellow;
    box-shadow: 0 2px 2px 0.5px rgba(0, 0, 0, 0.281);
    cursor: pointer;
} */

.input-field {
    white-space: pre-line;
    line-height: 20px;
}

.input-field > input {
    white-space: pre-line;
    line-height: 20px;
}

.error {
    color: red;
}

.link {
    font-size: 14px;
}

.logo {
    width: 100%;
}

#nav-bar {
    background-color: #eb793c;
    height: 75px;
    box-shadow: 0 2px 2px 0.5px rgba(0, 0, 0, 0.281);
    display: grid;
    grid-template-columns: 80px auto 80px;
}

.logo-small {
    height: 75px;
    grid-column: 1 / 2;
}

.profile-pic {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 20%;
}

.small-profile-pic {
    width: 75px;
    height: 75px;
    grid-column: 3 / 4;
    cursor: pointer;
}

.nav-container-items > ul {
    grid-column: 2 / 3;
    display: flex;
}

.nav-container-items ul {
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    text-decoration: none;
    font-weight: 500;
    color: mintcream;
    font-size: 20px;
}

.nav-container-items ul a:link,
.nav-container-items ul a:visited {
    text-decoration: none;
    color: mintcream;

}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    color: mintcream;
}

/* .nav-container-items ul li {
    margin: 10px;
} */

.registration-field {
    line-height: 2em;
}


#uploader-box {
    background-color: rgba(194, 190, 171, 0.836);
    position: absolute;
    height: 200px;
    width: 300px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 5px;
}

#uploader-box input, #uploader-box button {
    justify-content: center;
    align-self: center;
    margin-left: 60px;
}

img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.chat-logo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 2px;
}
.chat-container {
    height: 300px;
    overflow-y: scroll;
    border: 2px solid black;
}

.chat-time {
    color: gray;
    font-size: 12px;
    font-style: italic;
}

.notif-box {
    position: fixed;
    background-color: rgba(228, 228, 228, 0.904);
    height: 100px;
    width: 200px;
    left: 0;
    top: 0;
    border: black 1px solid;
    border-radius: 5px;
}
