body {
    background-color: wheat;
    margin: 0;
}

main {
    text-align: center;
}

.input-field {
    white-space: pre-line;
    line-height: 20px;
}

.input-field > input {
    white-space: pre-line;
    line-height: 20px;
}

.error {
    color: red;
}

.link {
    font-size: 14px;
}

.logo {
    width: 100%;
}

#nav-bar {
    background-color: #eb793c;
    height: 75px;
    box-shadow: 0 2px 2px 0.5px rgba(0, 0, 0, 0.281);
}

.logo-small {
    height: 75px;
    float: left;
}

.profile-pic {
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 20%;
}

.small-profile-pic {
    width: 75px;
    height: 75px;
    float: right;
    cursor: pointer;
}

.registration-field {
    line-height: 2em;
}

#uploader-box {
    background-color: rgba(180, 141, 31, 0.836);
    height: 100%;
}

img {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.chat-logo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 2px;
}
.chat-container {
    height: 300px;
    overflow-y: scroll;
    border: 2px solid black;
}
