body {
    background-color: wheat;
    margin: 0;
}

main {
    text-align: center;
}

.input-field {
    white-space: pre-line;
    line-height: 20px;
}

.input-field > input {
    white-space: pre-line;
    line-height: 20px;
}

.error {
    color: red;
}

.link {
    font-size: 14px;
}

.logo {
    width: 100%;
}

.logo-small {
    width: 20%;
    float: left;
}

.registration-field {
    line-height: 2em;
}
